streamlit
langchain
google-generativeai
langchain_google_genai
dotenv
xlsxwriter
langchain_openai
openai
pytesseract
Pillow
speechrecognition
pydub
requests
gspread
oauth2client
diffusers
transformers 
opencv-python 
python-dotenv 
torch
accelerate
pytesseract
